{% extends 'employees/base.html' %}

{% block content %}

{% load static %}
<div class="container">
    <h2 class="machine_title">Quality</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Skill level</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in data %}
            <tr>
                <td>{{employee.full_name}}</td>
                <td>{{employee.quality}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}