{% if employee.has_other_pages %}
<ul class="pagination">
    {% if employee.has_previous %}
        <li class="page_item">
            <a href="?page={{employee.previous_page_number}}" class="page-link">&laquo;</a>
        </li>
    {% else %}
        <li class="page_item_disabled">
            <a class="page-link">&laquo;</a>
        </li>
    {% endif %}
    {% for i in employee.paginator.page_range %}
        {% if employee.number == i %}
            <li class="page-item active" >
                <a class="page-link">{{i}}</a>
            </li>
        {% else %}
            <li class="page-item" >
                <a href="?page={{i}}" class="page-link">{{i}}</a>
            </li>
        {%endif%}
    {% endfor %}
    {% if employee.has_next %}
        <li class="page_item">
            <a href="?page={{employee.next_page_number}}" class="page-link">&raquo;</a>
        </li>
    {% else %}
        <li class="page_item_disabled">
            <a class="page-link">&raquo;</a>
        </li>
    {% endif %}
</ul>
{% endif %}