<nav id="sidebar" >
    <div class="sidebar-header">
      <div class="logomonti">
        <img src="" alt="logo">
      </div>
    </div>
    <form action="{% url 'search' %}" class="form-inline ml-2">
      <input class="form-control mr-sm-2" name="keywords" id="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0"  type="submit"><i class="fas fa-search"></i></button>
    </form>
    <ul class="list-unstyled components">
      <li>
        <a href="{% url 'index' %}" ><i class="fas fa-tachometer-alt"></i>Dashboard</a>
      </li>
      <li>
        <a href="{% url 'employees' %}"><i class="fas fa-user-friends"></i>Employees</a>
      </li>
      <li>
        <a href="{% url 'departments' %}"><i class="fas fa-building"></i>Departments</a>
      </li>
      <li>
        <a href="{% url 'reference' %}"><i class="fa fa-book" aria-hidden="true"></i>Reference</a>
      </li> 
      {% if user.is_authenticated %}
        <li>
          <a href="{% url 'admin:index' %}"><i class="fas fa-cog"></i>Administrative</a>
        </li>
      {% endif %}
    </ul>
  </nav>

