{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<a href="{% url 'index' %}">
    <div class="logomonti">
        <img src="{% static 'photos/montilogopngWhite.png' %}" height="40" width="100" alt="logo">
      </div>
</a>

{% endblock %}


{% block extrastyle %}
<!-- fontawesome  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}