{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
<a href="{% url 'index' %}">
    <h1><i class="fa fa-magnet" aria-hidden="true"></i> Sheet Metal Inc. </h1>
</a>

{% endblock %}


{% block extrastyle %}
<!-- fontawesome  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}