{% extends 'employees/base.html' %}

{% block content %}

{% load static %}    
    <!-- body sections  -->
    <div class="container">
        <div class="box-card12">
            <div class="chart-key">
                    {% for departments in departments %}
                    <p><i class="fa fa-square" style="color: {{departments.color_hex}};" aria-hidden="true"></i> {{ departments.name }}</p>
                    {% endfor %}
            </div>
        </div>
        {% for employee in employee %}
        <div class="box-card">
            <div class="charts">
                <div class="imgs"><img src="{{ employee.photo.url }}" alt="My image"></div>
                <canvas id="{{ forloop.counter }}" width="100" height="100"></canvas>
                <h5>{{ employee.full_name }}</h5>
                <a href="{% url 'employee' employee.id  %}"><p>Employee</p></a>
            </div>
        </div>
        <script>
            var ctx = document.getElementById('{{ forloop.counter }}');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ['Quality', 'Engineering', 'Press Brake', 'Laser', 'Water Jet','CNC Mill', 'CNC Lathe', 'Stamp', 'Drill', 'Shipping', 'Powder Coat', 'Epoxy', 'Weld', 'Robot Weld', 'Assembly', 'Fuse', 'Saw', 'Maintenace', 'J/U Channel'],
                    datasets: [{
                        label: '# of Votes',
                        data: ['{{ employee.quality }}','{{ employee.engineering }}','{{ employee.press_brake }}','{{ employee.laser }}', '{{ employee.water_jet }}', '{{ employee.cnc_mill }}','{{ employee.cnc_lathe }}','{{ employee.stamp }}','{{ employee.drill }}', '{{ employee.shipping }}', '{{ employee.powder_coat }}','{{ employee.epoxy }}','{{ employee.weld }}', '{{ employee.robot_weld }}', '{{ employee.assembly }}','{{ employee.fuse }}','{{ employee.saw }}','{{ employee.maintenance }}','{{ employee.ju_channel }}'],
                        backgroundColor: [
                            '#0496FF',
                            '#586F7C',
                            '#B8DBD9',
                            '#FFDD4A',
                            '#0077B6',
                            '#AF5D63',
                            '#ED474A',
                            '#8DB38B',
                            '#AC80A0',
                            '#96E6B3',
                            '#B88B4A',
                            '#463239',
                            '#E4C5AF',
                            '#7FB800',
                            '#8C2155',
                            '#A7BBEC',
                            '#8C2155',
                            '#8C2155',
                            '#8C2155'
                        ],
                        borderColor: [
                           
                        ],
                        borderWidth: 0
                    }]
                },
                options: {
                    legend:{
                        display: false
                    },
                    tooltips: {
                        mode: 'point'
                        }
                    }
            });
        </script>
        {% empty %}
        <div class="nofound"
            <h1>No employees found <i class="fas fa-sad-cry"></i></h1>
        </div>
        {% endfor %}
        <div class="box-card12">
            {% include 'partials/_pagination.html' %}
        </div>
        

    </div>

{% endblock content %}