{% extends 'employees/base.html' %}

{% load static %}

{% block content %}

{% load static %} 
    <div class="container">
        {% if employees %}
            {% for employee in employees %}
                    <div class="box-cardtall">
                        <div class="charts">
                            <h4 class="machine_title"> {{ employee.full_name }}</h4>
                            <canvas id="{{forloop.counter}}" width="100" height="220"></canvas>
                        </div>
                    </div>
                    <script>
                        var ctx = document.getElementById('{{forloop.counter}}').getContext('2d');
                        var chart = new Chart(ctx, {
                            // The type of chart we want to create
                            type: 'horizontalBar',
                            // The data for our dataset
                            data: {
                                labels: ['Quality', 'Engineering', 'Press Brake', 'Laser', 'Water Jet', 'CNC Mill', 'CNC Lathe',
                                    'Stamp', 'Drill', 'Shipping', 'Powder Coat', 'Epoxy', 'Weld', 'Robot Weld', 'Assembly',
                                    'Fuse'
                                ],
                                datasets: [{
                                    label: 'Skill level',
                                    backgroundColor: [
                                        '#0496FF',
                                        '#586F7C',
                                        '#B8DBD9',
                                        '#FFDD4A',
                                        '#0077B6',
                                        '#AF5D63',
                                        '#ED474A',
                                        '#8DB38B',
                                        '#AC80A0',
                                        '#96E6B3',
                                        '#B88B4A',
                                        '#463239',
                                        '#E4C5AF',
                                        '#7FB800',
                                        '#8C2155',
                                        '#A7BBEC'
                                    ],
                                    borderColor: 'rgb(255, 99, 132)',
                                    data: ['{{ employee.quality }}', '{{ employee.engineering }}',
                                        '{{ employee.press_brake }}', '{{ employee.laser }}',
                                        '{{ employee.water_jet }}', '{{ employee.cnc_mill }}',
                                        '{{ employee.cnc_lathe }}', '{{ employee.stamp }}', '{{ employee.drill }}',
                                        '{{ employee.shipping }}', '{{ employee.powder_coat }}',
                                        '{{ employee.epoxy }}', '{{ employee.weld }}', '{{ employee.robot_weld }}',
                                        '{{ employee.assembly }}', '{{ employee.fuse }}'
                                    ],
                                }]
                            },
                            // Configuration options go here
                            options: {
                                legend: {
                                    display: false,
                                },
                                scales: {
                                    xAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
            {% endfor %}
        {% else %}
                <div class="container">
                    <h2>Nothing found</h2>
                </div>
        {% endif %}
    </div>
{% endblock %}