:root {
  --mainColor: #636f83;
  --mainHover: #8a93a2;
  --secondaryColor: #ebedef;
  --background: #e5e5e5;
  --text: #343b47;
  --Chart1: #f9b115;
  --Chart2: #2eb85c;
  --Chart3: #e55353;
  --Chart4: #3399ff;
  --cards: #fff;
}

/* NAVBAR  */

.navbar {
  position: fixed;
  display: flex;
  background: var(--background);
  color: var(--text);
  justify-content: end !important;
  align-items: flex-end !important;
}

.navbar div {
  padding: 0 0.5rem;
}
.hamburger{
  /* margin-top: 2.5rem; */
  margin-left: 18.75rem;
  border: none;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--mainColor);
}

.hamburger i{
  color: #fff;
}

/* SIDEBAR  */
.wrapper .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  background: var(--secondaryColor);
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background-image: linear-gradient(-222deg,var(--mainColor), var(--mainHover));
  color: #fff;
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  transition: all 0.3s;
  margin-top: -2.5rem;
  z-index: 2;
}
#sidebar .sidebar-header {
  padding: 20px;
  margin: 20px auto;
}

#sidebar .sidebar-header h1, #sidebar .sidebar-header h3 {
  text-align: center;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  margin-left: 15px;
}

#sidebar ul li a i {
  margin-right: 15px;
}

#sidebar ul li a:hover {
  color: var(--mainColor);
  background: var(--mainHover);
  text-decoration: none;
}

#sidebar ul li a:visited,
#sidebar ul li a {
  color: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: var(--mainColor);
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: var(--mainColor);
}

#sidebar.active {
  margin-left: -300px;
}

.lightdarkmode{
  display: flex;
  align-items: center;
  margin: 0 0 5px 15px;
  padding: 10px;
}

.lightdarkmode i {
  margin-right: 15px;
}

.lightdarkmode button{
  border: none;
  background: none;
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/* calendar */

.calendar{
  width:370px;
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  font-family: 'Roboto', sans-serif;
  padding: 20px 30px;
  color: var(--text);
  display: inline-block;
  border-radius: 10px;
  margin: 10px;
  background: var(--background);
}

.calendar_header{
  border-bottom: 2px solid var(--mainColor);
}

.header_copy{
  color: 1c2b3b;
  font-size:20px;
}
.calendar_plan{
  margin:20px 0 40px;
}
.cl_plan{
  width:100%;
  height: 200px;
  background-image: linear-gradient(-222deg, var(--mainColor), var(--mainHover));
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  padding:30px;
  color:#fff;
}

.cl_copy{
  font-size:22px;
  margin: 20px 0;
  display: inline-block;
}

.cl_add{
  display: inline-block;
  width: 40px;
  height:40px;
  border-radius:20%;
  background-color: #fff;
  cursor: pointer;
  margin:0 0 0 35px;
  color: var(--text);
  padding: 9px 13px;
}
.calendar_events{
  color: var(--text);
}
.ce_title{
  font-size:14px;
}

.event_item{
  margin: 18px 0;
  padding:5px;
  cursor: pointer;

}

.event_item:hover{
  background-image: linear-gradient(-222deg, var(--mainColor), var(--mainHover));
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
  
}

.ei_Dot:hover{
  background-color: #fff;
}
.ei_Copy:hover,.ei_Title:hover{
  color:#fff;
}

.ei_Dot,.ei_Title{
  display:inline-block;
}

.ei_Dot{
  border-radius:50%;
  width:10px;
  height: 10px;
  background-color: var(--text);
  box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.dot_active{
  background-color: var(--Chart2);
}

.ei_Title{
  margin-left:10px;
  color: var(--text);
}

.ei_Copy{
  font-size:12px;
  margin-left:27px;
}

.box-card {
  background:var(--cards);
  color: var(--text);
  border-radius: 15px;
  height: 350px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.box-card a {
  color: var(--text);
}

.box-cardtall{
  background: var(--cards);
  border-radius: 15px;
  height: 650px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.box-card6{
  width: auto;
  color: #fff;
  max-width: 800px;
  height: 800px;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient(-222deg, var(--mainColor), var(--mainHover));
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  padding: 20px 30px;
}

.box-card12 {
  color: var(--text);
  width: 100%;
}

.box-card12 .pagination {
  display: flex;
  justify-content: center;
}

.box-card12 .pagination .page-item .page-link, .box-card12 .pagination .page_item .page-link { 
  color: var(--mainColor);
}

.box-card12 .pagination .page-item.active .page-link {  
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  color: #fff;
}

.charts {
  height: 300px;
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
}

.charts canvas {
  z-index: 1;
  position: relative;
}

.chart-key p {
  margin: 10px;
}

.imgs > img {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 80px;
  margin-top: 80px;
  object-fit: cover;
}

.charts a {
  color: var(--text);
}

.chart-key {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 850px;
  margin: auto;
}


.nofound {
  margin-top: 50px;
}


@media (max-width: 768px) {
  #sidebar {
    margin-left: -300px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #search{
    width: 200px;
    margin: 5px;
  }

  .hamburger{
    display: block;
  }
}


